* {
  margin: 0;
  padding: 0;
}

.app-bg {
  background-color: rgb(255, 206, 214);
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 206, 214),
    rgb(87, 214, 239)
  );
}

.user-details {
  font-size: 0.95rem;
}

.user-profile {
  background-color: #cfebf0;
}

.album-list {
  width: 80%;
  margin: auto;
  max-width: 700px;
}

.album-item {
  background-color: #fff;
}

.edit-hover:hover .edit-button {
  color: black;
  transform: scale(1.3, 1.3);
  transition-duration: 0.66s;
}

.auth-page {
  font-family: Quicksand, sans-serif;
  height: 100vh;
  display: flex;
}

.inpt {
  background-color: #e5dddd;
  border: none;
  font-size: 0.95rem;
}

.login-banner {
  background-color: #87e387;
  /* background-image: url("../public/images/astronaut_camera-removebg-preview.png"); */
  background-image: linear-gradient(
    to bottom,
    rgb(255, 206, 214),
    rgb(87, 214, 239)
  );
  background-position: center;
  background-repeat: no-repeat;
}

.login-image {
  width: 80%;
  height: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../public/images/loginCam.jpg");
}

.mobile {
  width: 50%;
}

.google-btn-container {
  width: 75%;
  margin-bottom: 2rem;
}
.google-btn {
  background-color: #fff;
  outline: none;
  border: 1px solid grey;
  padding: 0.5rem;
  width: 100%;
  font-size: 0.95rem;
}

.hero {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-image: url(https://source.unsplash.com/N10auyEVst8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(242, 250, 250);
}
.overlay {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  color: rgb(242, 250, 250);
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-nav {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.pri-cta {
  color: #fff !important;
  font-weight: bold;
}

.hero-text {
  font-family: "Poppins", sans-serif;
}

.hero-text button {
  padding: 0.5rem 1rem;
  background-color: rgb(60, 65, 36);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.burger-menu {
  color: #fff;
}

.spinner {
  height: 90vh;
  z-index: 3;
}

@media only screen and (max-width: 586px) {
  .mobile {
    width: 100% !important;
  }

  .mobile-links {
    color: #000 !important;
    background-color: white;
  }
}
